* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

.noidung1 {
    background-image: url(/C:/Users/tuanv/Desktop/images/vu10.jpg);
    background-size: cover;
    height: 920px;
    text-align: center;
}



.nd {
    margin-top: 310px;
    margin-left: 450px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.nd1 {
    
    font-family: 'Pacifico', cursive;
    font-size: 130px;
    color: rgb(236, 236, 236);
    cursor: pointer;
}

.nd2 {
    height: 0px;
    border: none;
    border-top: 3px solid rgb(219, 219, 219);
    width: 486px;
    margin-left: 120px;
}

.nd3 {
    font-size: 30px;
    font-weight: 900;
    color: rgba(221, 221, 221, 0.719);
    float: right;
    margin-right: 120px;
}

.nd1a {
    font-size: 'Roboto', sans-serif;
    font-size: 90px;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.863);
    margin-top: 57px;
}

.chunho {
    font-size: 65px;
}

img.anh1 {
    width: 600px;
    border-radius: 1000px;
    padding: 90px;
    margin-left: -50px;
}

.nd2a {
    font-size: 90px;
    font-weight: 800;
    color: rgba(39, 69, 100, 0.842);
    height: 115px;
    margin-top: -30px;
}

.nd3a {
    font-size: 60px;
    font-weight: 800;
    color: rgba(128, 128, 128, 0.863);
    margin-bottom: 78px;
}

.noidung3 {
    background-image: url(file:///C:/Users/tuanv/Desktop/images/vu4.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    position: relative;
}

.nd1b {
    width: 950px;
    text-align: center;
    color: white;
    padding: 140px;
    font-size: 20px;
    margin-left: 458px;
    position: absolute;
    z-index: 5;
}

.nd2b {
    background-color: rgba(17, 17, 17, 0.863);
    width: 900px;
    border-radius: 8px;
    height: 260px;
    margin-left: 487px;
    position: absolute;
    z-index: 1;
    margin-top: 87px;
}

.noidung4 {
    margin-left: 118px;
    height: 600px;
    width: 1900px;
}

.avt1 {
    width: 120px;
    margin: 50px;
    margin-left: 250px;
    border-radius: 800px;
}


.hang {
    display: flex;
}

.tieude {
    margin-top: 78px;
    margin-left: -15px;
    font-size: 20px;
}



#aboutlink:hover {
    text-decoration: none;
    color: white;
    font-size: 21px;
    transition: 0.2s;
}

#peojectslink:hover {
    text-decoration: none;
    color: white;
    font-size: 21px;
    transition: 0.2s;
}

#resumelink:hover {
    text-decoration: none;
    color: white;
    font-size: 21px;
    transition: 0.2s;
}

#contactlink:hover {
    text-decoration: none;
    color: white;
    font-size: 21px;
    transition: 0.2s;
}

.tieudenho {
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
}

.tieudeto {
    font-size: 26px;
    font-weight: 800;
}

.tieude:hover {
    cursor: pointer;
    color: rgba(61, 105, 63, 0.884);
}

* {
    margin: 0;
    padding: 0;
}

.chualayer {
    width: 280px;
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 30px;
    text-align: center;
    cursor: pointer;
    border: white solid 3px;
}

.layer1 {
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

img.anh {
    width: 100%;
    transition: 1s;
}

.layer2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.445);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 1;
    transition: 0.4s;
}

.layer3 {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 790px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 1;
}

.layer4 {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-family: roboto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;

}


.chualayer:hover img.anh {
    transform: scale(1.2);
}

a {
    color: white;
}

p.chutren {
    font-size: 21px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
}

p.chuduoi {
    font-size: 21px;
    font-weight: 400;
    height: 30px;
}

p.chuduoi2 {
    width: 200px;
    margin: auto;
}



.layer41 {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-family: roboto;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 4;

}

.layer42 {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-family: roboto;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 4;
}

.layer43 {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-family: roboto;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 4;
}


.noidung5 {
    background-image: url(/C:/Users/tuanv/Desktop/images/vu10.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    margin-left: -118px;
}


.nhungconcach{
    margin-top: -1px;
    padding-left: 499px;
    display: flex;
    margin-top: 70px;
    margin-left: -185px;
    
}

.xemthem {
    width: 170px;
    height: 57px;
    margin-left: 895px;
    background-color: rgba(0, 255, 255, 0);
    color: rgb(155, 155, 155);
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    border-style: groove;
    border-color: rgb(155, 155, 155);
}

.xemthem:hover {
    color: white;
    border-color: white;
}

.text1 {
    font-family: 'Pacifico', cursive;
    margin-left: 580px;
    font-size: 65px;
    margin-top: 80px;
    height: 450px;
}

.viking {
    width: 420px;
    margin-left: 686px;
    margin-top: -455px;
}

.saucuoi {
    height: 100px;
    background-color: #222533;
    margin-left: -200px;
}

.noidungcuoi {
    color: #798f9e;
    margin-left: 390px;
    line-height: 100px;
}

span.thefox {
    color: red;
}

.logoduoi {
    display: flex;
    float: right;
    margin-top: -70px;
    color: #556371;
    margin-right: 375px;
    letter-spacing: 30px;
}

.logoduoi i:hover {
    color: white;
    transition: 0.4s;
}


.khoi-carousel {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(file:///C:/Users/tuanv/Desktop/Ahand/vu20.jpg);
    height: 630px;
    padding: 64px;
    margin-left: -170px;
    background-position: center;
    background-size: cover;
}

ul.carousel {
    width: 600px;
    margin: auto;
    position: relative;
    height: 500px;
    overflow: hidden;
}

.comment {
    padding: 69px;
    background: white;
    border-radius: 8px;
    width: 580px;
    margin: 0 17px;
}

i.fas.fa-quote-left {
    font-size: 36px;
    color: gray;
    margin-bottom: 16px;
}

.ndcc {
    font-size: 18px;

}

.muiten {
    width: 24px;
    height: 24px;
    background: white;
    margin: auto;
    transform: translateY(-12px) rotateZ(45deg);
    margin-bottom: 50px;
}

img.avt {
    width: 64px;
    border-radius: 50%;
    margin: auto;
}

.ten {
    color: white;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 4px;
}

.nn {
    color: white;
}

li.slide {
    list-style: none;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
}

li.cham-tron {
    width: 21px;
    height: 21px;
    background: white;
    border-radius: 50%;
    list-style: none;
}

ul.direct-buttons {
    display: flex;
    margin: auto;
    width: 150px;
    justify-content: space-between;
}

.navigations {
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    color: white;
    margin-top: -170px;
    cursor: pointer;
}

.cham-tron.ct-active {
    transform: scale(1.2);
    background-color: #1959a3;
}

.cham-tron {
    transition: 0.4s;
    cursor: pointer;
}

@-webkit-keyframes active {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}

@-webkit-keyframes deactive {
    0% {transform: translateX(0);}
    100% { transform: translateX(-100%); }
}


@-webkit-keyframes active-prev {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

@-webkit-keyframes deactive-prev {
    0% {transform: translateX(0);}
    100% { transform: translateX(100%); }
}

.slide.slide-active {
    animation: active 0.4s forwards;
}

.slide.slide-deactive {
    animation: deactive 0.4s forwards;
}

.prev .slide.slide-active {
    animation: active-prev 0.4s forwards;
}

.prev .slide.slide-deactive {
    animation: deactive-prev 0.4s forwards;
}

#menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
    margin-top: 10px;
    transition: 0.2s;
}

#menu ul {
    background: #1F568B;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    transition: 0.2s;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9998;
    width: 280px;
    height: 100%;
    background-color: #1d809f;
    text-align: left;
    color: white;
    transition: 0.4s;
    transform: translateX(100%);
}

/*==Style cho menu===*/
#menu ul {
    background: #49627c;
    list-style-type: none;
    text-align: center;
    margin-bottom: 0px;
    height: 66px;
  }



.nut-menu, .nut-back-to-top {
    position: fixed;
    right: 16px;
    z-index: 9999;
    width: 48px;
    height: 48px;
    background-color: #0005;
    color: white;
    line-height: 48px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.nut-menu:hover, .nut-back-to-top {
    background-color: #0008;
}

.nut-menu {
    top: 16px;
}

.nut-back-to-top {
    bottom: 16px;
}

.fa, .fas {
    font-weight: 900;
    margin-left: 17px;
}

p.menuhihi {
    width: 129px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 56px;
    margin: 0;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    justify-content: space-between;
    margin: auto;
    color: white;
    text-align: center;
}

.coll {
    background-color: #49627c;
    height: 70px;
    position: fixed;
    width: 1920px;
    z-index: 9999;
}

.active {
    background-color: #57bad8;
    transition: 0.8s;
}


.circle {
    width: 360px;
    height: 360px;
    position: relative;
    border-radius: 50%;
    background-image: url(file:///C:/Users/tuanv/Desktop/Ahand/avt111.jpg);
    background-size: cover;
    margin-top: 44px;
}

.layer-1 {
    width: 100%;
    height: 100%;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.4s;
}

.circle:hover .layer-1 {
    transform: scale(0);
    opacity: 0;
}

.layer-2 {
    width: 100%;
    height: 100%;
    background-color: #49627c;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 2;
    transition: 0.6s;
    transform: scale(1.5);
    opacity: 0;
    transition-delay: 0.2s;
    text-align: center;
}

.vu {
    margin-top: 80px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 148px;
}

.circle:hover .layer-2 {
    opacity: 1;
    transform: scale(1);
}

.anh-1 {
    background-image: url(file:///C:/Users/tuanv/Desktop/Ahand/vu2.jpg);
    width: 330px;
    height: 330px;
    background-size: cover;
}

.noidung {
    width: 330px;
    height: 330px;
    background-image: url(file:///C:/Users/tuanv/Desktop/Ahand/vu2.jpg);
    background-position: center;
    position: absolute;
    background-size: cover;
    top: 15px;
    left: 15px;
    border-radius: 50%;
}






